@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	
	.header-bar
		.navigation
			ul
				li
					a
				 		padding: 30px 50px

	.fixed
		.header-bar
			.navigation
				ul
					li
						a
							padding: 13px 50px
	.main-h
		left: 0
		font-size: 29px

	.img_wrap 
		img
			max-width: 150px

		
// ≥992px
+media-breakpoint-down(md)

	.hidden-md
		display: none

	.main-h
		text-align: center
		left: 0

	.vpb_text
		padding-top: 30px
		h4
			font-size: 16px

	.not-home
		.mobile-header-bar
			margin-top: 10px
		.sm-menu-button
			span
				background-color: #000
				&::after
					background-color: #000
				&::before
					background-color: #000
		.fixed-mobile
			span
				background-color: #fff
				&::before
					background-color: #fff
				&::after
					background-color: #fff
	

	.phone-wrap
		text-align: center

	.footer-column
		align-items: center
	
	.work-item
		height: 40vh

// ≥768px
+media-breakpoint-down(sm)

	.hidden-sm
		display: none

	.masthead
		background-color: #fff
		height: 60px
		.mobile-header-bar
			margin-top: 10px
	

	.toggle-mnu
		span
			background-color: #000
			
			&::before
				background-color: #000
			&::after
				background-color: #000

	.fixed-mobile
		span
			background-color: #fff
			&::before
				background-color: #fff
			&::after
				background-color: #fff


	#svg-logo
		.cls-1
			fill: #000000

		
	.img_wrap
		img
			max-width: 120px

	.vpb_text
		h4
			font-size: 18px

// ≥576px
+media-breakpoint-down(xs)

	.hidden-xs
		display: none

	#partners
		padding: 0

	.fixed-mobile
		span
			background-color: #fff
			&::before
				background-color: #fff
			&::after
				background-color: #fff

	#svg-logo
		width: 51px
		height: 37px

	.masthead
		padding: 0 20px

	.main-h
		font-size: 22px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)


// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	.hidden-lg
		display: none
// ≤1200px
+media-breakpoint-up(xl)
