@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

// ::selection
// 	background-color: $accent
// 	color: #666

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

ul
	padding-inline-start: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

//video background
.wrap-video-bg	//my custom class
	width: 100%  

.homepage-hero-module
  border-right: none
  border-left: none
  position: relative

.no-video .video-container video, .touch .video-container video
  display: none

.no-video .video-container .poster, .touch .video-container .poster
  display: block !important

.video-container
  position: relative
  bottom: 0%
  left: 0%
  height: 100%
  width: 100%
  overflow: hidden
  background: #000
  .poster img
    width: 100%
    bottom: 0
    position: absolute
  .filter
    z-index: 100
    position: absolute
    background: rgba(0, 0, 0, 0.4)
    width: 100%
  video
    position: absolute
    z-index: 0
    bottom: 0
    &.fillWidth
      width: 100%
// video bg end

.masthead
	position: absolute
	z-index: 99
	padding: 0 50px
	width: 100%
	height: 100px

.header-bar
	width: 100%
	display: flex
	justify-content: center
	height: 100px
	

.navigation
	display: flex
	height: 100%
	&:first-child
		padding-left: 40px

	ul
		margin-top: 5px
		li
			display: inline-block
			a
				color: #fff
				text-decoration: none
				text-transform: uppercase
				padding: 30px 90px
				box-sizing: border-box
				display: flex
				font-family: "open-sans"
				&:hover
					text-decoration: none

.branding
	width: 131px
	display: flex
	align-item: center
	a
		margin: auto

#img-logo
	width: 71px
	height: 43px


.line
	position: relative
	&::after
		content: ''
		height: 2px
		width: 100%
		background-color: #fff
		display: block
		transition: all .2s ease-in-out
		transform: scaleX(0)
		position: absolute
		visibility: hidden
	&:hover::after
		transform: scaleX(1)
		visibility: visible
//video background end

// First selection
#about
	padding-bottom: 50px

.block_h2
	text-align: center
	width: 100%
	margin-bottom: 35px
	font-size: 36px
	font-family: "open-sans"




.dark-sec
	color: #CDC5C5
	background-color: #000

.bright_sec
	color: #000
	padding-top: 35px

.img_wrap
	img
		max-width: 170px
		display: block
		margin: auto
.vpb_text
	padding-top: 50px
	margin-bottom: 35px
	h4
		text-align: center
		font-size: 18px


// works

.no-padding
	padding-left: 0
	padding-right: 0

.bg-img
	width: 100%
	height: 500px
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover

#turan
	background-image: url('../img/works/turan-prezentation-1024x576.png')

#pomosch
	background-image: url('../img/works/psp_glav-1024x576.png')

#silenced
	background-image: url('../img/works/SD-1920x960.png')

#smartlab
	background-image: url('../img/works/Sl-1920x960.png')

#interior
	background-image: url('../img/works/Sl-1920x960.png')

#techno
	background-image: url('../img/works/kithen-1920x960.png')

#kaspi
	background-image: url('../img/works/kaspi-1850x925.png')

#meizu
	background-image: url('../img/works/meizu-1920x960.png')

#cinemax
	background-image: url('../img/works/Cinemax-4-1440x720.png')

#sdshapes
	background-image: url('../img/works/sd_shapes-1920x960.png')


//partners

#partners
	.block_h2
		padding-bottom: 0
		margin-bottom: 0

// .owl-stage
// 	display: flex
// 	.owl-item
// 		margin-top: 20px
// 		.partner
// 			display: flex
// 			height: 100%
// 			margin: auto
// 			img
// 				max-width: 200px
// 				width: auto
// 				margin: auto
// 				display: inline-block
// Карусель, партнеры
// .owl-nav
// 	position: absolute
// 	top: 50%
// 	width: 100%
// 	color: #808080
// 	font-size: 30px
// 	.owl-prev
// 		position: absolute
// 		left: -50px
// 	.owl-next
// 		position: absolute
// 		right: -50px
// 	button
// 		outline: none

// #partners
// 	padding-bottom: 50px
	
//footer
.mainfooter
	background: #1b1b1b url('../img/binding_dark.gif') repeat center top
	padding: 3% 0
	color: #fff
	font-size: 14px
.footer-column
	margin: 15px 0
// footer end

.clients-wrapper
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.client-item
		max-width: 200px
		img
			width: 100%



@import "media" // Always at the end
